<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Pic-Stock</title>

      <style>
          .bg{
              background:#62757f!important
          }
      </style>


  </head>
  <body>
    {% include 'navbar.html' %}


{#    main code#}
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group mt-3">
                <li class="list-group-item active">Category</li>
                {% for i in cat %}
                <a href="/category/{{ c.pk }}" class="list-group-item">{{ i.Title }}</a>
                {% endfor %}
            </ul>




        </div>
        <div class="col-md-10">
           {# images#}
           <div class="row mt-3">
               <div class="col-md-12">
                   <div class="card-columns">
                      {% for i in images %}
                            <div class="card" >
                                <img class="card-img-top" src="/images/{{ i.Image }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ i.Title }}</h5>
                                    <p class="card-text">{{ i.Description }}</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>



                       {% endfor %}
                       <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
    </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>